# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_TYPE=service_account
GOOGLE_PROJECT_ID=your-project-id
GOOGLE_PRIVATE_KEY_ID=your-private-key-id
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_SPREADSHEET_ID=1iqLbszowv_fyTwTfRiB0Au15OtGiy0jbcEOD2aE1b_A

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key  # Use IAM roles in production
AWS_SECRET_ACCESS_KEY=your-secret-key  # Use IAM roles in production


# DynamoDB Configuration
DYNAMODB_TABLE_NAME=event-guests